* {
  background-color: azure;
}


.desc {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}

img {
  width: 18rem;
  height: 10rem;
}

.content {
  padding-left: 40%;
  padding-top: 10%;
}

.priceCurrency {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}

.name {
  font-weight: bolder;
  color: blue;
  font-size: 20px;
}